.header{padding:0 16px;position:sticky;height:56px;}
.menu-bar{padding:8px;}
.logo{padding:18px 14px 18px 16px;}
.header-middle-items{width:50%;}
.input-box{width:100%;padding:0 20px;}
input.input{width:100%;height:40px;border:1px solid #ccc;margin:0 10px;padding:0 4px 0 16px;border-radius:40px;font-size: 16px;font-weight:400;line-height:24px;color:#111111;}
.search-box{height:40px;width:64px;margin:0;right:1%;top:0;border:1px solid #d3d3d3;background-color:#f8f8f8;border-radius:0 40px 40px 0;}
.voice-search{padding:8px;border-radius:50%;background:#0000000f;margin-left:12px;}
.header-rightbar .profile-menu{width:46px;height:34px;display:flex;align-items:center;padding:0 5px;}
.header-rightbar .profile-menu .profile-img{margin:0 5px;} 
img.dp{border-radius:50%;height:32px;width:32px;}
.header-rightbar .create-icon,
.header-rightbar .notification-icon{padding:8px;display:flex;align-items:center;margin-right:8px;
}
