.sidebar{flex-wrap:wrap; height: auto;z-index: 100;background:#fff;position:sticky;display:flex;padding:0 16px;max-width:240px;}
.sidebar-item.active{background-color:#0000000d;border-radius:8px;}
.sidebar-item{justify-content:flex-start;width:100%;padding:10px 7px;}
.sidebar-item .top-line{padding:12px 0 0;border-top: 1px solid #CCC;width: inherit;}
.sidebar-item .sidebar-text{font-size:14px;text-align:center;margin-left:24px;width:max-content;}
.sidebar-item .sidebar-title{font-size:16px;text-align:center;margin-right:8px;width:max-content;}
